.section {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  width: 100%;
  min-width: 280px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  padding: 10px 20px 20px;
  border: 1px solid var(--first-color);
  box-shadow: 4.5px 7.794px 10.5px var(--light-color);
}
.label {
  width: 100%;
  margin-bottom: 10px;
}
.input {
  outline: none;
  border-radius: 14px;
  border: 2px solid var(--first-color);
  padding: 10px;
  width: 100%;
  min-width: 280px;
  max-width: 480px;
}
.textarea {
  composes: input;
  resize: none;
}
.wrap_button {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  margin-right: 5px;
  width: 50%;
  height: 40px;
  border-radius: 14px;
  border: 1px solid transparent;
  text-transform: uppercase;
  background: var(--first-color);
  transition: all, 0.4s;
}
.submit:hover {
  background: var(--yellov-color);
}
.delete {
  composes: submit;
  margin-right: 0px;
  margin-left: 5px;
}

.delete:hover {
  background: var(--red-color);
}
.back_wrap {
  width: max-content;
  margin-bottom: 5px;
}
.back {
  position: relative;
  border: 1px solid transparent;
  width: max-content;
  padding: 10px;
  padding-left: 0;
  background: var(--white-color);
}

.back::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  left: 0;
  bottom: 4px;
  z-index: 10;
  background: var(--white-color);
  transition: all, 0.4s;
}
.back_wrap:hover .back::after {
  width: 100%;
  background: var(--green-color);
}
